<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
{% include ga.html %}
<script type="text/javascript">
    /**
     * Disqus
     */
    var disqus_shortname = 'austincodedojo';
    var disqus_identifier = '{{ post.id }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>   
<title>{{ page.title }}</title>
</head>
    <div class="site">
        <div class="header">
            <h1>{{ page.title }}</h1>
            <h2 class="post-date">Posted: {{ page.date | date_to_string }}</h2>
        </div>
        <div class="content">

        {{ content }}

        </div>
        <div class="comments">
            <div id="disqus_thread" />
            <noscript>
                We use <a href="http://disqus.com">Disqus</a> for post
                comments, but you don't have Javascript enabled, so you can't see
                them. Please enable Javascript if you wish to view the comments on
                this post.
            </noscript>
        </div>
        {% include footer.html %}
    </div>
</html>
